<h1><%= 'New user'[:New_user] %></h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
		<%= 'Name'[:Name] %>
    <br />
    <%= f.text_field :name %>
  </p>
  <p>
		<%= 'Last Name'[:Last_Name] %>
    <br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.submit "Create"[:Create] %>
  </p>
<% end %>

<%= link_to 'Back'[:Back], users_path %>
