<p>
  <b><%= 'Name'[:Name] %></b>
  <%=h @user.name %>
</p>

<p>
  <b><%= 'Last Name'[:Last_Name] %></b>
  <%=h @user.last_name %>
</p>


<%= link_to 'Edit'[:Edit], edit_user_path(@user) %> |
<%= link_to 'Back'[:Back], users_path %>
