<p>
  <b><%= I18n.t 'first_name' %>:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b><%= I18n.t 'last_name' %>:</b>
  <%=h @user.last_name %>
</p>


<%= link_to I18n.t('edit'), edit_user_path(@user) %> |
<%= link_to I18n.t('back'), users_path %>
